body {
  background-color: rgb(214, 225, 240);
}
section {
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 10%;
  width: fit-content;
  border-radius: 10px;
}
section .container {
  width: 250px;
  padding: 10px;
  display: flex;
  gap: 1px;
  flex-direction: column;
  text-align: center;
}
section .container h2 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(20, 19, 19);
}
section .container img {
  margin-left: 4%;
  border-radius: 10px;
}
section .container p {
  font-size: 14px;
  color: rgb(121, 118, 118);
  width: 90%;
  margin-left: 5%;
}
